/* Header */
header .container .navbar div ul li a:hover{
    color: #F3976C !important;
}

/* On masque le mot de navigation pour le burger */
header .container .navbar #nav-toggle em{display: none;}

/* Page d'accueil */

/* Correction pour la section hero */
section#bloc-1-hero .container .row article{padding: 40px 0; border-radius: 60px; background-color: rgba(250, 250, 250, 0.85);}

/* Corrections pour la section services */
section#bloc-2-services .container .row .presentation {padding: 0 2rem; font-size: 1.8rem;}
section#bloc-2-services .container figure figcaption{color: rgb(87,87,87);}

/* Correction pour la section what i do */
section#bloc-3-what-i-do .container .row{border-radius: 60px;}

/* Corrections pour la section portfolio */
section#bloc-4-portfolio .container .row article{margin-bottom: 2rem;}
section#bloc-4-portfolio .container .row article:nth-child(3) a img, section#bloc-4-portfolio .container .row article:nth-child(4) a img{width: 100%;}

/* Correction pour la section notre mission */
section#bloc-3-what-i-do .container .row article h2{color: #FFF !important;}

/* Correction pour la section CTA */
section#bloc-5-cta .container .row{padding: 40px 0; max-width: 700px; margin: auto; border-radius: 60px;}
section#bloc-5-cta .container .row a{position: relative;}



/* Page contact */

/* Première section */
section#bloc-6{padding: 0; background: url(../img/la-chouette-agence-banniere.jpg) no-repeat; background-size: cover; background-position: center;}
section#bloc-6 .container{margin: auto;}
section#bloc-6 .container .row{border-radius: 60px; max-width: 700px; margin: auto;}
section#bloc-6 .container .row article h1{text-align: center; color: #F3976C !important;}
section#bloc-6 .container .row article p{text-align: center; color: #FFF !important;}

/* Section formulaire */
section#bloc-7 .container{margin: auto; padding-top: 50px;}
section#bloc-7 .container form .form-group{margin-bottom: 20px;}
section#bloc-7 .container form .form-group label {display: block; margin-bottom: 5px;}
section#bloc-7 .container form .form-group input, section#bloc-7 .container form .form-group textarea {padding: 10px; min-width: 300px;}


/* Corrections pour le footer */
footer a.social span em{display: none;}
footer .container article p{text-align: center;}
footer .container article p{text-align: center;}